body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    flex-direction: column;
    margin: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    width: 300px;
}

h1 {
    margin-bottom: 20px;
}

#input-container {
    margin-bottom: 20px;
}

#datetime-input {
    width: 100%;
    padding: 8px;
    margin: 10px 0;
    border-radius: 5px;
    border: 1px solid #ccc;
}
#datetime-input:hover{
    border: 2px solid black;
}
button {
    padding: 10px;
    border: none;
    background-color: #4CAF50;    
    color: white;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
}

button:hover {
    background-color: #45a049;
    border: 2px solid black;
}

#countdown-container {
    font-size: 1.2em;
    margin-top: 20px;
}

#message {
    margin-top: 15px;
    color: red;
}
